CONFIG_TEST_BOOL_Y=y
# CONFIG_TEST_BOOL_N is not set
CONFIG_TEST_STRING="This is a test string."
CONFIG_TEST_INT=8
CONFIG_TEST_HEX=0x10
CONFIG_EXTENDTEST_BOOL_Y=y
# CONFIG_EXTENDTEST_BOOL_N is not set
CONFIG_EXTENDTEST_STRING="This is a test string."
CONFIG_EXTENDTEST_INT=8
CONFIG_EXTENDTEST_HEX=0x1000
