CONFIG_ARCH_X86_64=y
CONFIG_PLAT_KVM=y
CONFIG_UK_FULLVERSION="0.1.0"
CONFIG_HAVE_BOOTENTRY=y
CONFIG_HAVE_SCHED=y
CONFIG_HAVE_MEMALLOC=y
CONFIG_HAVE_LIBC=y
CONFIG_LIBUKALLOC=y
CONFIG_LIBUKSCHED=y
CONFIG_LIBUKSCHEDCOOP=y
CONFIG_LIBPOSIX_PROCESS=y
CONFIG_LIBPOSIX_USER=y
CONFIG_LIBUKDEBUG=y
CONFIG_LIBUKDEBUG_PRINTK=y
CONFIG_LIBUKDEBUG_PRINTK_INFO=y
CONFIG_LIBUKLIBPARAM=y
CONFIG_LIBUKLOCK=y
CONFIG_LIBUKMPI=y
CONFIG_LIBUKSGLIST=y
CONFIG_LIBUKSWRAND=y
CONFIG_LIBUKTIME=y
CONFIG_LIBUKTIMECONV=y
CONFIG_LIBVFSCORE=y
